* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(#C6F8FF,
      #595CFF);
}

#heading {
  margin: 20px auto;
  padding: 5px;
  text-align: center;
  width: 80%;
  box-shadow: 2px 2px 10px blue;
  border-radius: 25px;
  color: darkblue;
}

#form {
  width: 50%;
  height: 300px;
  text-align: center;
  margin: 20px auto;
  margin-top: 70px;
  padding: 50px;
  box-shadow: 2px 2px 10px blue;
  background-color: #8687f5;
}

#text {
  font-size: 1.5rem;
  color: darkblue;
  font-weight: bold;
}

#nameInput {

  height: 30px;
  padding: 10px;
  overflow: auto;
  color: darkblue;
  border-radius: 10px;
  font-size: 1rem;
  margin-left: 100px;

}

#deptInput {
  height: 30px;
  padding: 10px;
  overflow: auto;
  color: darkblue;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 30px;
}

#ratingInput {
  width: 223px;
  height: 40px;
  padding: 10px;
  overflow: auto;
  color: darkblue;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 92px;
}

#btn {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  background-color: #2427f4;
  color: #C6F8FF;
  font-size: 1.5rem;
  border: #C6F8FF;
  margin-top: 25px;
}

#btn:hover {
  background-color: #C6F8FF;
  color: #2427f4;
}

#dataShow {
  width: 40%;
  overflow: auto;
  box-shadow: 2px 2px 10px blue;
  background-color: #8687f5;
  margin: 20px auto;
  margin-top: 70px;
  padding: 50px;
  text-align: center;
}

#dataBox {
  color: darkblue;
  box-shadow: 2px 2px 10px blue;
  background-color: #C6F8FF;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  font-size: 1.1rem;
}

#back_btn {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: #6567bb;
  color: white;
  font-size: 1.5rem;
  border: 2px solid white;
  margin-left: 700px;
}

#back_btn:hover {
  background-color: white;
  color: #6567bb;
}